#menubar
{ width: 1000px;
  height: 46px;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 5px 10px 5 5;
  background:black;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: right; 
  height: 50px;
  width: 120px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color:white;
  font-size:17px;
  text-decoration: none;
  background:grey} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}


ul#menu li a:hover
{ color: #e063ec;}

